body{
    background : #ededed;
    margin-top: 1em;
}

.password_generator
{
    border: 1px #999 solid;
    background: white;
    width: 100%;
    min-height: 400px;
}

.password
{
    margin-left: auto !important;
    margin-right: auto !important;
    height:50px;
    font-size: 1.5em;
}
